# Library importation

In [113]:
# Library importaion
import pandas as pd

# Read Dataset into DataFrame

In [114]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [115]:
df.shape

(60943, 12)

In [116]:
# Dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

# Question 1

In [117]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
r = df['Y2014'].isnull().sum()
m_d = df['Y2014'].isnull().value_counts(normalize=True)[True]*100
print(r)
print(f'{m_d.round(3)}%')

1589
2.607%

# Question 6

In [118]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
df.groupby("Area")["Y2017"].sum().sort_values(ascending= False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

# Question 7

In [119]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [120]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# Question 9

In [130]:
# Which year had the least correlation with ‘Element Code’?
df.corr()

<ipython-input-130-5af18e9d1cb4>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

# Question 10

In [122]:
# What is the total number of unique countries in the dataset?
df['Area'].nunique()

49

# Question 11

In [123]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
df.groupby('Element').sum().loc['Stock Variation', :]

<ipython-input-123-14d07be57b5c>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Element').sum().loc['Stock Variation', :]

Area Code         571566.00
Item Code       11329527.00
Element Code    21464704.00
Y2014              58749.83
Y2015              34910.99
Y2016              33140.12
Y2017              54316.91
Y2018              20577.91
Name: Stock Variation, dtype: float64

# Question 12

In [124]:
# What is the total sum of Wine produced in 2015 and 2018 respectively?
g_df = df.groupby('Item').sum()
g_15 = g_df.at['Wine', 'Y2015']
g_18 = g_df.at['Wine', 'Y2018']
print(g_15)
print(g_18)

4251.81
4039.32

<ipython-input-124-9ee22b0e16bf>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g_df = df.groupby('Item').sum()

# Question 14

In [125]:
# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?
result = df[['Y2017', 'Area']].groupby('Area').sum()
sorted_result = result.sort_values(by='Y2017', ascending=True)
seventh_lowest_area = sorted_result.iloc[6]
print(seventh_lowest_area)

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

# Question 15

In [126]:

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
print(df['Y2017'].mean().round(2))
print(df['Y2017'].std().round(2))

140.92
1671.86

# Question 16

In [127]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?
df.groupby('Element').sum().loc['Processing', 'Y2017']

<ipython-input-127-b05f0e8c0ccd>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Element').sum().loc['Processing', 'Y2017']

292836.0

# Question 20

In [128]:
# What is the total Protein supply quantity in Madagascar in 2015?

ser = df.groupby(['Element', 'Area'])['Y2015'].sum()
ser.loc['Protein supply quantity (g/capita/day)', 'Madagascar']

173.05

**OR**

In [129]:
# What is the total Protein supply quantity in Madagascar in 2015?

last = df.groupby(['Element', 'Area']).sum()
last.loc['Protein supply quantity (g/capita/day)', 'Madagascar']['Y2015']

<ipython-input-129-81dedb214a4f>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  last = df.groupby(['Element', 'Area']).sum()

173.05